<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <style>
      input[type="text"]{
        width: 200px;
      }
      .hidden{
        display: none;
      }
      h1 {
        text-align: center;
      }
      fieldset {
        border: 0;
      }
      legend{
        text-align: center;
      }
      table{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align: center;
        border-collapse: collapse;
      }
      tr, td {
        width: 150px;
        height: 25px;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>사람 정보 관리</h1>
    <fieldset>
      <legend>Title</legend>
      <form id="humanForm" action="/infoView/upload" method="post">
        <table>
          <tr>
            <td>아이디</td>
            <td><input type="text" name="id"></td>
            <td rowspan="4">사진 미리보기<div id="preview"></td>
          </tr>
          <tr>
            <td>성명</td>
            <td><input type="text" name="name"></td>
          </tr>
          <tr>
            <td>이메일</td>
            <td><input type="text" name="email"></td>
          </tr>
          <tr>
            <td>사진</td>
            <td><input type="file" id="photo" value="파일 전송"/></td>
          </tr>
          <tr>
            <td colspan="3"><input type="submit" id="submit" value="저장"/></td>
          </tr>
        </table>
      </form>
    </fieldset>
    <h1>사람 목록</h1>
    <table>
      <tr>
        <td>번호</td>
        <td>아이디</td>
        <td>성명</td>
        <td>이메일</td>
        <td>사진</td>
      </tr>
      <% for(var info of infoList) {%>
      <tr>
        <td><%=info.no%></td>
        <td><%=info.id%></td>
        <td><%=info.name%></td>
        <td><%=info.email%></td>
        <td><img src="<%=info.photo%>" width="150px" /></td>
      </tr>
      <%} %>
    </table>
    <script>
      var preview = document.querySelector("#preview");
      $("#photo").change("change", (e) => {
        let input = e.target;
        if(input.files && input.files[0]) {
          let reader = new FileReader();
          // 방법
          // reader.addEventListener("load", (e) => {
          //   let readImg = e.target.result;
          //   $("#preview")[0].innerHTML = `<input type="text" value="${readImg}" class="hidden" name="photo" width="200"/>`;
          //   $("#preview")[0].innerHTML += `<img src="${readImg}" name="photo" width="200"/>`;
          // });

          // 방법 개선
          reader.addEventListener("load", (e) => {
            let readImg = e.target.result;
            $("#preview")[0].innerHTML = `<img src="${readImg}" name="photo" width="150"/>`;
            $("#submit").click((e) => {
              $("#preview")[0].innerHTML += `<input type="text" value="${readImg}" class="hidden" name="photo" width="200"/>`;
            });
          });
          reader.readAsDataURL(input.files[0]);
        };
      });
    </script>
  </body>
</html>