<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <% // ejs 뷰엔진 실행 테스트 - server 사이드 console 출력
    console.log("hello"); console.log(userName); %>
  </head>
  <body>
    <h1>중고 자동차 쇼핑몰</h1>
    <p>
      <!-- HTML로 작성 -->
      <% for (var car of carList){ %> <%=car.no %>, <%=car.title %>,
      <%=car.price %>, <%=car.company %>, <%=car.year %>
    </p>
    <% } // end of for %>
  </body>
</html>
